.float-left{
    float: left;
}
.float-right{
    float: right;
}
.labels-of-card {
    line-height: 1rem;
    color: #9E9E9E;
}

.values-of-card {
    line-height: 1rem;
}
.rider-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.mathed-card {
    margin: 1rem 0rem 0rem 2rem;
    padding: 0.5rem 1rem 1rem 1rem;
}
.ride-mathes{
    margin-right: 35rem;;
    margin-bottom: 2rem;
}
/* .total-employees {
    width: 98.5%;
    border: 1px solid rgb(112 107 107 / 51%);
    margin-left: 0.7rem;
    padding-bottom: 1.5rem;
  }  */