.my-rides-container {
    background-image: url("C:\Users\saicharan.r\Downloads\CarPoolingApi-Review1\CarPoolingApi-Review1\src\Components\Assets\BackGroundImg.png");
    background-size: contain;
    /* background-attachment: fixed; */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

.float-left {
    float: left;
}

.profile-name {
    margin: 1rem 5rem 0rem -10rem;
}

.profile-image {
    height: 4rem;
    width: 3rem;
    border-radius: 2rem;
}

.white-color {
    color: white;
}

.labels-of-card {
    line-height: 1rem;
    color: #9E9E9E;
}

.values-of-card {
    line-height: 1rem;
}

.rider-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    float: right;
}

.matched-card {

    margin: 0rem 0rem 2rem 2rem;
    padding: 0.5rem 4rem 0rem 3rem;
    height: 16rem;
    width: 29rem;
}

.book-ride-mathes {
    background-color: #9318ff;
    margin: 2rem 13rem 0rem 1.5rem;
    border-radius: 1rem;
}

.offered-ride-mathes {
    background-color: #fead1b;
    margin: 2rem 11rem 1rem 2.5rem;
    border-radius: 1rem;
}
.user-profile{
    color: #9E9E9E;
    font-size: 1.3rem;
}
.dropdown {

    /* position: absolute; */

    left: 91%;

    top: 39%;

    background-color: #fff;

    box-shadow: 1px 1px 5px 1px #999;

    display: block;

    width: 10%;

    padding: 0%;

    color: #999;

}


/* a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    padding: 1%;
    border-radius: 10px;
} */



li {

    list-style: none;

    padding: 5% 0%;

    text-align: center;

}

li:hover {

    background-color: #9318ff;

}