.my-rides-container {
    background-image: url("C:\CarPoolApi\carpooling-app\src\Components\Assets\BackGroundImg.png");
    /* background-attachment: fixed; */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

.float-left {
    float: left;
}
.white-color{
    color: white;
}
.labels-of-card {
    line-height: 1rem;
    color: #9E9E9E;
}

.values-of-card {
    line-height: 1rem;
}

.rider-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    float: right;
}

.matched-card {

    margin: 0rem 0rem 2rem 2rem;
    padding: 0.5rem 4rem 0rem 3rem;
    height: 16rem;
    width: 29rem;
}

.book-ride-mathes {
    background-color: #9318ff;
    margin: 0rem 14rem 1rem 1.5rem;
    border-radius: 1rem;
}

.offered-ride-mathes {
    background-color: #fead1b;
    margin: 0rem 14rem 1rem 1.5rem;
    border-radius: 1rem;
}