.logo-img {
  margin-right: 52rem;
}

.primary-text {
  font-size: 4.8rem;
}
.black-color {
  color: black;
}
.white-color{
  color: white;
}
.turn {
  margin: 5rem 0rem 0rem 4rem;

}

.miles {
  color: #fead1b;
  margin: 5rem 0rem 0rem 7em;


}

.into {
  margin: 0rem 0rem 0rem 4rem;

}

.money {
  color: #9318ff;
  margin: 0rem 0rem 0rem 6rem;

}

.login-secondary-text {
  margin: 0rem 42rem 0rem 0rem;
}

.login-bg-img {
  margin: 0rem 5rem 0rem 0rem;
  width: 61rem;
  height: 24.5rem;
}

.hr-tag {
  width: 4rem;
  margin: 0rem 1rem -2rem 13.5rem;

}

.login-input {
  font-size: larger;
  padding: 1rem 1rem 1rem 2rem;
  margin: 4rem 0rem -4rem 2rem;
  border-radius: 0.5rem;
  border-color: white;
}

.login-btn {
  background-color: white;
  border-radius: 1.5rem;
  font-size: larger;
  display: block;
  padding: 0.5rem 3rem 0.5rem 3rem;
  margin: 3rem 0rem 0rem 12rem;
}
#login-submit-btn-color:hover {
  color: white;
  background-color: #fead1b;
}
.signup-background-image {
  width: 26rem;
  height: 32rem;
}

.login-form {
  background-color: #9318ff;
}

.form-for-login {
  background-image: url("C:\CarPoolApi\carpooling-app\src\Components\Assets\LoginBng.png");

  width: 31rem;
  height: 45rem;
  margin: 4rem 0rem 0rem 0rem;
  background-repeat: no-repeat;
  background-size: cover;

}
.signup-option {
  margin: 1rem 0rem 0rem 0rem;
}
.signup-link{
  margin-left: -3.5rem;
  font-size: 1rem;
  padding: 0rem 1rem 0rem 4rem;
}
@media (max-width:1509px) and (min-width:1024px) {
  .login-bg-img {
    margin: 0rem 5rem 0rem 0rem;
    width: 101%;
    height: 16.5rem;
  }

  .login-secondary-text {
    margin: 0rem 23rem 0rem 0rem;
  }

  .form-for-login {
    /* background-image: url(http://localhost:3000/static/media/SignUP.cd05e2a….png);  */
    width: 20rem;
    height: 36rem;
    margin: 4rem 0rem 0rem 0rem;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .login-input {
    font-size: larger;
    padding: 1rem 0rem 1rem 0rem;
    margin: 2rem 0rem -3rem 2rem;
    border-radius: 0.5rem;
    border-color: rgb(255, 255, 255);
  
  }

  .login-btn {
    background-color: white;
    border-radius: 1.5rem;
    font-size: larger;
    display: block;
    padding: 0.5rem 2rem 0.5rem 3rem;
    margin: 3rem 0rem 0rem 5rem;
  }
  #login-submit-btn-color:hover {
    color: white;
    background-color: #fead1b;
  }
  
}